name: Build

on:
    push:
        branches:
            - master
        tags:
            - v*
    pull_request:
        branches:
            - master
concurrency:
    group: ${{ github.ref }}
    cancel-in-progress: true
jobs:
    build:
        name: Build Binary
        runs-on: ubuntu-latest
        container:
          image: archlinux:latest
        steps:
            - uses: actions/checkout@v5
            - uses: dtolnay/rust-toolchain@stable
              with:
                components: clippy rustfmt
            - name: Install Deps
              run: pacman -Syu --noconfirm base-devel libxkbcommon pango wayland
            - name: Run fmt check
              run: cargo fmt --all -- --check
            - name: Run clippy check
              run: cargo clippy -- -D warnings
            - name: Run tests
              run: cargo test --verbose

    release:
        permissions:
            contents: write
            id-token: write
        if: startsWith(github.ref, 'refs/tags/v')
        needs:
            - build
        runs-on: ubuntu-latest
        container:
          image: archlinux:latest
        steps:
            - uses: actions/checkout@v5
            - uses: dtolnay/rust-toolchain@stable
              with:
                components: clippy rustfmt
            - name: Install Deps
              run: pacman -Syu --noconfirm base-devel libxkbcommon pango wayland
            - name: Obtain crates.io token
              uses: rust-lang/crates-io-auth-action@b7e9a28eded4986ec6b1fa40eeee8f8f165559ec # v1.0.3
              id: auth
            - name: Publish to crate
              run: |
                cargo publish -p iced_layershell_macros
                cargo publish -p iced_sessionlock_macros
                cargo publish -p iced_exdevtools
                cargo publish -p waycrate_xkbkeycode
                cargo publish -p layershellev
                cargo publish -p sessionlockev
                cargo publish -p iced_layershell
                cargo publish -p iced_sessionlock
              env:
                CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
            - uses: softprops/action-gh-release@v2
              with:
                draft: true
